html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.main-visual {
    width: 100vw;
    height: 30vw;
    background-color: #3E92CC;
    clip-path: polygon(50% 0%, 100% 0, 75% 100%, 0 100%, 0 0);
}

.main-visual h1 {
    color: white;
    font-size: 5rem;
    padding: 8rem 0 0 5rem;
}

.menu {
    margin-top: 5rem;
    text-align: center;
}

.menu p {
    display: block;
    margin-bottom: 4rem;
}

.menu a {
    min-width: 8rem;
    width: 30vw;
    display: inline-block;
    text-decoration: none;
    padding: 4rem;
    border: 1px solid red;
}